In [2]:
import pyterrier as pt
import pandas as pd

In [2]:
import os
os.environ["JAVA_HOME"] = "C:\\Program Files\\Microsoft\\jdk-11.0.12.7-hotspot\\bin"

In [3]:
if not pt.started():
    pt.init()

PyTerrier 0.9.2 has loaded Terrier 5.7 (built by craigm on 2022-11-10 18:30) and terrier-helper 0.0.7

In [5]:
files = pt.io.find_files("./Mails")
indexer = pt.FilesIndexer(
    "E:\Pycharm\IR\Experiment1\mail_index", 
    overwrite=True, 
    verbose=True, 
    blocks=False)
indexref = indexer.index(files)
index = pt.IndexFactory.of(indexref)

18:24:52.580 [main] ERROR org.terrier.structures.indexing.Indexer - Could not rename index
java.io.IOException: Rename of index structure file 'E:\Pycharm\IR\Experiment1\mail_index/data_1.direct.bf' (exists) to 'E:\Pycharm\IR\Experiment1\mail_index/data.direct.bf' (exists) failed - likely that source file is still open. Possible indexing bug?
	at org.terrier.structures.IndexUtil.renameIndex(IndexUtil.java:379)
	at org.terrier.structures.indexing.Indexer.index(Indexer.java:388)

In [7]:
queries_dict = {
    1: 'Welcome, Nilesh,Thanks '
       'for joining Indian Institute '
       'of Information Technology',
    2: 'IIIT Vadodara International '
       'Campus, Diu'
}
queries = pd.DataFrame(
    list(queries_dict.items()), 
    columns=['qid', 'query'])

In [9]:
retr = pt.BatchRetrieve(
    index, 
    controls = {
        "wmodel": "TF_IDF"
    }
)
retr.setControl("wmodel", "TF_IDF")
retr.setControls({"wmodel": "TF_IDF"})

In [10]:
res = retr.transform(queries)
res

,qid,docid,docno,rank,score,query
0,1,15,d16,0,4.613670,"Welcome, Nilesh,Thanks for joining Indian Inst..."
1,1,14,d15,1,4.218750,"Welcome, Nilesh,Thanks for joining Indian Inst..."
2,1,0,d1,2,3.810985,"Welcome, Nilesh,Thanks for joining Indian Inst..."
3,1,6,d7,3,2.588984,"Welcome, Nilesh,Thanks for joining Indian Inst..."
4,2,15,d16,0,5.875415,"IIIT Vadodara, International Campus, Diu"
5,2,0,d1,1,5.575726,"IIIT Vadodara, International Campus, Diu"
6,2,14,d15,2,1.406250,"IIIT Vadodara, International Campus, Diu"